<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Relations" sequenceNumber="147">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.opcoach.e4.preferences.feature.feature.group" version="1.1.0.201710152105"/>
<repository location="https://dl.bintray.com/opcoach/e4Preferences/"/>
</location>
<location path="\\idfix\id-home\lbenno\Data\OS_projects\Relations\target\2.3" type="Directory"/>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.feature.feature.group" version="2.4.2.202007241204"/>
<repository location="http://download.eclipse.org/nebula/releases/latest"/>
</location>
	<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.14.0.v20180518-2029"/>
		<unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="1.0.300.v20180221-1224"/>
		<unit id="org.eclipse.pde.source.feature.group" version="3.13.100.v20180611-0826"/>
		<unit id="org.eclipse.rcp.feature.group" version="4.8.0.v20180611-0656"/>
		<unit id="org.eclipse.rcp.source.feature.group" version="4.8.0.v20180611-0656"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.8/"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.14.0.v20180529-1157"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.14.0.v20180529-1157"/>
		<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.5.0.20180613-1200"/>
		<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.5.0.20180613-1038"/>
		<unit id="org.eclipse.sdk.feature.group" version="4.8.0.v20180611-0826"/>
		<repository location="http://download.eclipse.org/releases/photon/"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.0.v20180712-1605"/>
		<unit id="org.eclipse.ecf.core.feature.group" version="3.14.1.v20180730-1455"/>
		<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.100.v20180301-0201"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1.v20180730-1455"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.1.v20180730-1455"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
		<repository location="http://download.eclipse.org/rt/ecf/3.14.1/site.p2"/>
	</location>
</locations>
</target>