<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Relations" sequenceNumber="143">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.2.0.v20160114-0324"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.12.1.v20160114-0324"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.0.v20160114-0324"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.12.1.v20160114-0324"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.12.1.v20160114-0324"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.0.v20160114-0324"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.0.v20160114-0324"/>
<repository location="http://download.eclipse.org/rt/ecf/3.12.1/site.p2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="1.0.200.v20170515-0910"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.18.0.v20171213-1416"/>
<repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.gallery.feature.feature.group" version="1.0.0.201712122235"/>
<repository location="http://download.eclipse.org/nebula/snapshot"/>
</location>
<location path="\\idfix\id-home\lbenno\Data\OS_projects\Relations\target\2.1" type="Directory"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.7.0.v20170515-1617"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.jdt.feature.group" version="3.13.1.v20171009-0410"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.3.0.20170913-1712"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.3.0.20170913-0934"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
</locations>
<includeBundles>
<plugin id="ch.qos.logback.classic"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="com.mysql.jdbc"/>
<plugin id="javax.servlet"/>
<plugin id="javax.servlet.source"/>
<plugin id="javax.xml"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.httpcomponents.httpclient"/>
<plugin id="org.apache.httpcomponents.httpcore"/>
<plugin id="org.apache.servicemix.bundles.derby"/>
<plugin id="org.apache.servicemix.bundles.lucene"/>
<plugin id="org.apache.servicemix.bundles.lucene-analyzers-common"/>
<plugin id="org.apache.servicemix.bundles.lucene-queries"/>
<plugin id="org.apache.servicemix.bundles.lucene-queryparser"/>
<plugin id="org.apache.servicemix.bundles.lucene-sandbox"/>
<plugin id="org.apache.servicemix.bundles.regexp"/>
<plugin id="org.eclipse.ant.launching"/>
<plugin id="org.eclipse.ant.launching.source"/>
<plugin id="org.eclipse.ant.ui"/>
<plugin id="org.eclipse.ant.ui.source"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="org.eclipse.draw2d"/>
<plugin id="org.eclipse.draw2d.doc.isv"/>
<plugin id="org.eclipse.draw2d.source"/>
<plugin id="org.eclipse.e4.tools.context.spy"/>
<plugin id="org.eclipse.e4.tools.css.spy"/>
<plugin id="org.eclipse.e4.tools.emf.ui"/>
<plugin id="org.eclipse.e4.tools.emf.ui.source"/>
<plugin id="org.eclipse.e4.tools.event.spy"/>
<plugin id="org.eclipse.e4.tools.services"/>
<plugin id="org.eclipse.e4.tools.services.source"/>
<plugin id="org.eclipse.e4.tools.spy"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.ecf.filetransfer.source"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.ecf.identity.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient4"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient4.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient4.ssl"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient4.ssl.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
<plugin id="org.eclipse.ecf.source"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.ecf.ssl.source"/>
<plugin id="org.eclipse.emf.common.ui"/>
<plugin id="org.eclipse.emf.common.ui.source"/>
<plugin id="org.eclipse.emf.databinding"/>
<plugin id="org.eclipse.emf.databinding.edit"/>
<plugin id="org.eclipse.emf.databinding.edit.source"/>
<plugin id="org.eclipse.emf.databinding.source"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.emf.ecore.change.source"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.emf.edit.source"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.gef"/>
<plugin id="org.eclipse.gef.doc.isv"/>
<plugin id="org.eclipse.gef.source"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.jdt"/>
<plugin id="org.eclipse.jdt.annotation" version="1.1.100.v20160418-1457"/>
<plugin id="org.eclipse.jdt.annotation.source" version="2.1.100.v20170511-1408"/>
<plugin id="org.eclipse.jdt.annotation.source" version="1.1.100.v20160418-1457"/>
<plugin id="org.eclipse.jdt.apt.core"/>
<plugin id="org.eclipse.jdt.apt.core.source"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core.source"/>
<plugin id="org.eclipse.jdt.apt.ui"/>
<plugin id="org.eclipse.jdt.apt.ui.source"/>
<plugin id="org.eclipse.jdt.compiler.apt"/>
<plugin id="org.eclipse.jdt.compiler.apt.source"/>
<plugin id="org.eclipse.jdt.compiler.tool"/>
<plugin id="org.eclipse.jdt.compiler.tool.source"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.jdt.core.manipulation"/>
<plugin id="org.eclipse.jdt.core.manipulation.source"/>
<plugin id="org.eclipse.jdt.core.source"/>
<plugin id="org.eclipse.jdt.debug"/>
<plugin id="org.eclipse.jdt.debug.source"/>
<plugin id="org.eclipse.jdt.debug.ui"/>
<plugin id="org.eclipse.jdt.debug.ui.source"/>
<plugin id="org.eclipse.jdt.doc.user"/>
<plugin id="org.eclipse.jdt.junit"/>
<plugin id="org.eclipse.jdt.junit.core"/>
<plugin id="org.eclipse.jdt.junit.core.source"/>
<plugin id="org.eclipse.jdt.junit.runtime" version="3.4.650.v20170920-1015"/>
<plugin id="org.eclipse.jdt.junit.runtime.source" version="3.4.650.v20170920-1015"/>
<plugin id="org.eclipse.jdt.junit.runtime.source" version="3.4.600.v20160505-0715"/>
<plugin id="org.eclipse.jdt.junit.source"/>
<plugin id="org.eclipse.jdt.junit4.runtime"/>
<plugin id="org.eclipse.jdt.junit4.runtime.source"/>
<plugin id="org.eclipse.jdt.launching"/>
<plugin id="org.eclipse.jdt.launching.macosx"/>
<plugin id="org.eclipse.jdt.launching.macosx.source"/>
<plugin id="org.eclipse.jdt.launching.source"/>
<plugin id="org.eclipse.jdt.launching.ui.macosx"/>
<plugin id="org.eclipse.jdt.launching.ui.macosx.source"/>
<plugin id="org.eclipse.jdt.ui"/>
<plugin id="org.eclipse.jdt.ui.source"/>
<plugin id="org.eclipse.nebula.widgets.gallery"/>
<plugin id="org.eclipse.nebula.widgets.gallery.source"/>
<plugin id="org.eclipse.rap.jface"/>
<plugin id="org.eclipse.rap.jface.databinding"/>
<plugin id="org.eclipse.rap.jface.databinding.source"/>
<plugin id="org.eclipse.rap.jface.source"/>
<plugin id="org.eclipse.rap.nebula.jface.gridviewer"/>
<plugin id="org.eclipse.rap.nebula.jface.gridviewer.source"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.hamcrest.core.source"/>
<plugin id="org.hip.vif.dbaccess.derby"/>
<plugin id="org.hip.vif.dbaccess.mysql"/>
<plugin id="org.hip.viffw"/>
<plugin id="org.hip.viffw.source"/>
<plugin id="org.junit"/>
<plugin id="org.junit.source"/>
<plugin id="org.mockito.mockito-all"/>
<plugin id="osgi.enterprise"/>
<plugin id="slf4j.api"/>
</includeBundles>
</target>
