<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.elbe.relations.RelationsApplication"
            description="Relations"
            name="org.elbe.relations">
         <property
               name="appName"
               value="org.elbe.relations">
         </property>
         <property
               name="applicationXMI"
               value="org.elbe.relations/Relations.e4xmi">
         </property>
         <property
               name="aboutText"
               value="Relations Rich Client Application&#x0A;&#x0A;The Relations application is a tool for knowledge management.&#x0A;&#x0A;Version: 2.0.0&#x0A;&#x0A;(c) Copyright: RelationWare, B. Luthiger.&#x0A;Visit http://relations-rcp.sourceforge.net/&#x0A;&#x0A;This product is built on Eclipse RCP,&#x0A;see http://www.eclipse.org/">
         </property>
         <property
               name="aboutImage"
               value="icons/aboutRelations.gif">
         </property>
         <property
               name="windowImages"
               value="icons/relations.gif,icons/relations32.gif,icons/relations48.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="10,265,380,15">
         </property>
         <property
               name="startupProgressRect"
               value="0,283,455,12">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.elbe.relations/org.elbe.relations.internal.RelationsLifeCycle">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.elbe.relations.internal.preferences.RelationsPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.elbe.relations.definition.browser.popup.item">
         <with
               variable="browser.popup.visibility">
            <or>
	            <equals
	                  value="item_center">
	            </equals>
               <equals
                     value="item_periphery">
               </equals>
               </or>
         </with>
      </definition>
      <definition
            id="org.elbe.relations.definition.browser.popup.connection">
         <with
               variable="browser.popup.visibility">
            <equals
                  value="connection">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.elbe.relations.internal.preferences.RelationsPreferencePage"
            id="org.elbe.relations.prefs"
            name="Relations">
      </page>
      <page
            category="org.elbe.relations.prefs"
            class="org.elbe.relations.internal.preferences.RelationsConnectionPrefPage"
            id="org.elbe.relations.prefs.db"
            name="Datenbank-Verbindung">
      </page>
      <page
            class="org.elbe.relations.internal.preferences.keys.RelationsKeysPreferencePage"
            id="org.elbe.relations.prefs.keys"
            name="Keys">
      </page>
      <page
            class="org.elbe.relations.internal.preferences.AppearancePage"
            id="org.elbe.relations.themes"
            name="Appearance">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.elbe.relations.wizards.item"
            name="%category.name.new.item"/>
      <wizard
            category="org.elbe.relations.wizards.item"
            class="org.elbe.relations.internal.wizards.TermNewWizard"
            hasPages="true"
            icon="icons/term_new.gif"
            id="org.elbe.relations.internal.wizards.TermNewWizard"
            name="%wizard.name.new.term">
         <description>
            %wizard.description.new.term
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.wizards.item"
            class="org.elbe.relations.internal.wizards.TextNewWizard"
            hasPages="true"
            icon="icons/text_new.gif"
            id="org.elbe.relations.internal.wizards.TextNewWizard"
            name="%wizard.name.new.text">
         <description>
            %wizard.description.new.text
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.wizards.item"
            class="org.elbe.relations.internal.wizards.PersonNewWizard"
            hasPages="true"
            icon="icons/person_new.gif"
            id="org.elbe.relations.internal.wizards.PersonNewWizard"
            name="%wizard.name.new.person">
         <description>
            %wizard.description.new.person
         </description>
      </wizard>
      <category
            id="org.elbe.relations.wizards.db"
            name="%category.name.new.db"/>
      <wizard
            category="org.elbe.relations.wizards.db"
            class="org.elbe.relations.internal.wizards.DBNewWizard"
            icon="icons/data_new.gif"
            id="org.elbe.relations.internal.wizards.DBNewWizard"
            name="%wizard.name.new.db">
         <description>
            %wizard.description.new.db
         </description>
      </wizard>
      <primaryWizard id="org.elbe.relations.internal.wizards.TermNewWizard"/>          
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.elbe.relations.export"
            name="%export.context.name">
      </category>
      <wizard
            category="org.elbe.relations.export"
            class="org.elbe.relations.internal.wizards.ExportBibtex"
            icon="icons/export_wiz.png"
            id="org.elbe.relations.export.bibtex"
            name="%export.bibtex.name">
         <description>
            %export.bibtex.desc
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.export"
            class="org.elbe.relations.internal.wizards.BackupEmbedded"
            icon="icons/data_exp.gif"
            id="org.elbe.relations.export.backup"
            name="%export.backup.name">
         <description>
            %export.backup.desc
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.export"
            class="org.elbe.relations.internal.wizards.ExportToXML"
            icon="icons/xml_exp.png"
            id="org.elbe.relations.export.xml"
            name="%export.xml.name">
         <description>
            %export.xml.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.elbe.relations.import"
            name="%import.context.name"/>
      <wizard
            category="org.elbe.relations.import"
            class="org.elbe.relations.internal.wizards.RestoreEmbedded"
            icon="icons/data_restore.gif"
            id="org.elbe.relations.export.restore"
            name="%import.restore.name">
         <description>
            %import.restore.desc
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.import"
            class="org.elbe.relations.internal.wizards.ImportEmbedded"
            icon="icons/data_imp.gif"
            id="org.elbe.relations.export.import"
            name="%import.dbimport.name">
         <description>
            %import.dbimport.desc
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.import"
            class="org.elbe.relations.internal.wizards.ImportFromXML"
            icon="icons/xml_imp.png"
            id="org.elbe.relations.import.xml"
            name="%import.xmlimport.name">
         <description>
            %import.xmlimport.desc
         </description>
      </wizard>
   </extension>
   <extension
         id="RelationsApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/relations.gif"
            thread="main"
            visible="true">
         <run
               class="org.elbe.relations.internal.RelationsApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/e4_default.css"
            id="org.eclipse.e4.ui.css.theme.e4_default.noos"
            label="Default">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_win7.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="Windows 7"
            os="win32"
            os_version="6.1">
      </theme>
      <theme
            basestylesheeturi="css/e4_classic_win7.css"
            id="org.eclipse.e4.ui.css.theme.e4_classic_win7"
            label="Windows 7 Classic"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_winxp_blu.css"
            id="org.eclipse.e4.ui.css.theme.e4_default_winxp_blu"
            label="Windows XP Blue"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_winxp_olv.css"
            id="org.eclipse.e4.ui.css.theme.e4_default_winxp_olv"
            label="Windows XP Olive"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="GTK"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="Solaris"
            os="solaris">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="AIX"
            os="aix">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_mac.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="Mac"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/e4_classic_winxp.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="HPUX"
            os="hpux">
      </theme>
   </extension>
</plugin>
