<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            description="%product.description"
            name="Relations">
         <property
               name="appName"
               value="Relations">
         </property>
         <property
               name="applicationXMI"
               value="org.elbe.relations/Relations.e4xmi">
         </property>
         <property
               name="aboutText"
               value="Relations Rich Client Application&#x0A;&#x0A;The Relations application is a tool for knowledge management.&#x0A;&#x0A;Version: 2.3.0&#x0A;&#x0A;(c) Copyright: RelationWare, B. Luthiger.&#x0A;Visit http://relations-rcp.sourceforge.net/&#x0A;&#x0A;This product is built on Eclipse RCP,&#x0A;see http://www.eclipse.org/">
         </property>
         <property
               name="aboutImage"
               value="icons/aboutRelations.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.elbe.relations/org.elbe.relations.internal.RelationsLifeCycle">
         </property>
         <property
               name="cssTheme"
               value="org.elbe.relations.css.theme.e4_default">
         </property>
         <property
               name="windowImages"
               value="icons/relations.gif,icons/relations32.gif,icons/relations48.gif">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/RelationWare.png">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.elbe.relations/css/images/">
         </property>
         <property
               name="startupMessageRect"
               value="5,250,449,23">
         </property>
         <property
               name="startupProgressRect"
               value="3,275,449,15">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.elbe.relations/css/default.css">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.elbe.relations.internal.preferences.RelationsPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.elbe.relations.definition.browser.popup.item">
         <with
               variable="browser.popup.visibility">
            <or>
	            <equals
	                  value="item_center">
	            </equals>
               <equals
                     value="item_periphery">
               </equals>
               </or>
         </with>
      </definition>
      <definition
            id="org.elbe.relations.definition.browser.popup.connection">
         <with
               variable="browser.popup.visibility">
            <equals
                  value="connection">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="org.elbe.relations.internal.preferences.RelationsPreferencePage"
            id="org.elbe.relations.prefs"
            name="%page.name">
      </page>
      <page
            category="org.elbe.relations.prefs"
            class="org.elbe.relations.internal.preferences.RelationsConnectionPrefPage"
            id="org.elbe.relations.prefs.db"
            name="%page.prefs.name.db.connect">
      </page>
      <page
            category="org.elbe.relations.prefs"
            class="org.elbe.relations.internal.preferences.CloudConfigPrefPage"
            id="org.elbe.relations.prefs.cloud"
            name="%page.prefs.name.cloud.config">
      </page>
      <page
            class="org.elbe.relations.internal.e4.keys.RelationsKeysPreferencePage"
            id="newKeysPreferencePage"
            name="%page.prefs.name.keys">
      </page>
      <page
            class="org.elbe.relations.internal.preferences.AppearancePage"
            id="org.elbe.relations.themes"
            name="%page.prefs.name.appearance">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.elbe.relations.wizards.item"
            name="%category.name.new.item"/>
      <wizard
            category="org.elbe.relations.wizards.item"
            class="org.elbe.relations.internal.wizards.TermNewWizard"
            hasPages="true"
            icon="icons/term_new.gif"
            id="org.elbe.relations.internal.wizards.TermNewWizard"
            name="%wizard.name.new.term">
         <description>
            %wizard.description.new.term
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.wizards.item"
            class="org.elbe.relations.internal.wizards.TextNewWizard"
            hasPages="true"
            icon="icons/text_new.gif"
            id="org.elbe.relations.internal.wizards.TextNewWizard"
            name="%wizard.name.new.text">
         <description>
            %wizard.description.new.text
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.wizards.item"
            class="org.elbe.relations.internal.wizards.PersonNewWizard"
            hasPages="true"
            icon="icons/person_new.gif"
            id="org.elbe.relations.internal.wizards.PersonNewWizard"
            name="%wizard.name.new.person">
         <description>
            %wizard.description.new.person
         </description>
      </wizard>
      <category
            id="org.elbe.relations.wizards.db"
            name="%category.name.new.db"/>
      <wizard
            category="org.elbe.relations.wizards.db"
            class="org.elbe.relations.internal.wizards.DBNewWizard"
            icon="icons/data_new.gif"
            id="org.elbe.relations.internal.wizards.DBNewWizard"
            name="%wizard.name.new.db">
         <description>
            %wizard.description.new.db
         </description>
      </wizard>
      <primaryWizard id="org.elbe.relations.internal.wizards.TermNewWizard"/>          
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.elbe.relations.export"
            name="%export.context.name">
      </category>
      <wizard
            category="org.elbe.relations.export"
            class="org.elbe.relations.internal.wizards.ExportBibtex"
            icon="icons/export_wiz.png"
            id="org.elbe.relations.export.bibtex"
            name="%export.bibtex.name">
         <description>
            %export.bibtex.desc
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.export"
            class="org.elbe.relations.internal.wizards.BackupEmbedded"
            icon="icons/data_exp.gif"
            id="org.elbe.relations.export.backup"
            name="%export.backup.name">
         <description>
            %export.backup.desc
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.export"
            class="org.elbe.relations.internal.wizards.ExportToXML"
            icon="icons/xml_exp.png"
            id="org.elbe.relations.export.xml"
            name="%export.xml.name">
         <description>
            %export.xml.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.elbe.relations.import"
            name="%import.context.name"/>
      <wizard
            category="org.elbe.relations.import"
            class="org.elbe.relations.internal.wizards.RestoreEmbedded"
            icon="icons/data_restore.gif"
            id="org.elbe.relations.export.restore"
            name="%import.restore.name">
         <description>
            %import.restore.desc
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.import"
            class="org.elbe.relations.internal.wizards.ImportEmbedded"
            icon="icons/data_imp.gif"
            id="org.elbe.relations.export.import"
            name="%import.dbimport.name">
         <description>
            %import.dbimport.desc
         </description>
      </wizard>
      <wizard
            category="org.elbe.relations.import"
            class="org.elbe.relations.internal.wizards.ImportFromXML"
            icon="icons/xml_imp.png"
            id="org.elbe.relations.import.xml"
            name="%import.xmlimport.name">
         <description>
            %import.xmlimport.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/e4_default.css"
            id="org.elbe.relations.css.theme.e4_default.noos"
            label="Relations Default">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_win7.css"
            id="org.elbe.relations.css.theme.e4_default"
            label="Relations Windows"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/e4_classic_win7.css"
            id="org.elbe.relations.css.theme.e4_classic_win7"
            label="Relations Windows Classic"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_winxp_blu.css"
            id="org.elbe.relations.css.theme.e4_default_winxp_blu"
            label="Relations Windows Blue"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_winxp_olv.css"
            id="org.elbe.relations.css.theme.e4_default_winxp_olv"
            label="Relations Windows Olive"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.elbe.relations.css.theme.e4_default"
            label="Relations GTK"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.elbe.relations.css.theme.e4_default"
            label="Relations Solaris"
            os="solaris">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.elbe.relations.css.theme.e4_default"
            label="Relations AIX"
            os="aix">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_mac.css"
            id="org.elbe.relations.css.theme.e4_default"
            label="Relations Mac"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/e4_classic_winxp.css"
            id="org.elbe.relations.css.theme.e4_default"
            label="Relations HPUX"
            os="hpux">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.elbe.relations.context.app"
            name="%context.relations.app"
            parentId="org.eclipse.ui.contexts.dialogAndWindow">
      </context>
      <context
            id="org.elbe.relations.context.main"
            name="%context.relations.main"
            parentId="org.elbe.relations.context.app">
      </context>
      <context
            id="org.elbe.relations.context.inspector"
            name="%context.relations.inspector"
            parentId="org.elbe.relations.context.main">
      </context>
      <context
            id="org.elbe.relations.context.browser"
            name="%context.relations.browser"
            parentId="org.elbe.relations.context.main">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.elbe.relations.category"
            name="%category.name">
      </category>
      <command
            categoryId="org.elbe.relations.category"
            id="org.eclipse.ui.window.preferences"
            name="%command.show.prefs">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.quit.desc"
            id="org.eclipse.ui.file.exit"
            name="%command.quit">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.save.desc"
            id="org.elbe.relations.command.item.save"
            name="%command.save">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.undo.desc"
            id="org.elbe.relations.command.item.undo"
            name="%command.undo">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.about.desc"
            id="org.eclipse.ui.help.aboutAction"
            name="%command.about">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.new.desc"
            id="org.eclipse.ui.newWizards"
            name="%command.new">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.import.desc"
            id="org.eclipse.ui.importWizards"
            name="%command.import">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.export.desc"
            id="org.eclipse.ui.exportWizards"
            name="%command.export">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.db.open"
            name="%command.open.db">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.text.style.bold"
            name="%command.text.bold">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.text.style.italic"
            name="%command.text.italic">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.text.style.underline"
            name="%command.text.underline">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.text.list.unordered"
            name="%command.list.unordered">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.text.list.ordered"
            name="%command.list.ordered">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.text.list.upper"
            name="%command.list.upper">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.text.list.lower"
            name="%command.list.lower">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.show.item.edit"
            id="org.elbe.relations.command.item.edit"
            name="%command.item.edit">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.item.relation.edit"
            name="%command.relations.edit">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.print.desc"
            id="org.elbe.relations.command.print"
            name="%command.print">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.center.desc"
            id="org.elbe.relations.command.item.center"
            name="%command.center">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.del.relation.desc"
            id="org.elbe.relations.command.item.relation.remove"
            name="%command.del.relation">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.item.find"
            name="%command.find">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.go.back"
            name="%command.back">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.go.forward"
            name="%command.forward">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.activate.browsers"
            name="%command.activate.browser">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.activate.term"
            name="%command.activate.terms">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.activate.text"
            name="%command.activate.texts">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.activate.person"
            name="%command.activate.persons">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.activate.bookmarks"
            name="%command.activate.bookmarks">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.activate.changes"
            name="%command.activate.last.changes">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.activate.inspector"
            name="%command.activate.inspector">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.bookmark.desc"
            id="org.elbe.relations.command.bookmark"
            name="%command.bookmark">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.item.delete.desc"
            id="org.elbe.relations.command.item.delete"
            name="%command.item.delete">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            description="%command.open.browser.desc"
            id="org.elbe.relations.command.open.url"
            name="%command.open.browser">
      </command>
      <command
            categoryId="org.elbe.relations.category"
            id="org.elbe.relations.command.part.maximize"
            name="%command.maximize.restore">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.window.preferences"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+P">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Q">
      </key>
      <key
            commandId="org.elbe.relations.command.item.save"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+S">
      </key>
      <key
            commandId="org.elbe.relations.command.item.undo"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Z">
      </key>
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
      <key
            commandId="org.eclipse.ui.newWizards"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+N">
      </key>
      <key
            commandId="org.elbe.relations.command.db.open"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="org.elbe.relations.command.text.style.bold"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+B">
      </key>
      <key
            commandId="org.elbe.relations.command.text.style.italic"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="org.elbe.relations.command.text.style.underline"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+U">
      </key>
      <key
            commandId="org.elbe.relations.command.text.list.unordered"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
      </key>
      <key
            commandId="org.elbe.relations.command.text.list.ordered"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+O">
      </key>
      <key
            commandId="org.elbe.relations.command.text.list.upper"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+U">
      </key>
      <key
            commandId="org.elbe.relations.command.text.list.lower"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+L">
      </key>
      <key
            commandId="org.elbe.relations.command.item.edit"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+E">
      </key>
      <key
            commandId="org.elbe.relations.command.item.relation.edit"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="org.elbe.relations.command.print"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+P">
      </key>
      <key
            commandId="org.elbe.relations.command.item.center"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="org.elbe.relations.command.item.relation.remove"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+R">
      </key>
      <key
            commandId="org.elbe.relations.command.item.find"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
      <key
            commandId="org.elbe.relations.command.go.back"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_LEFT">
      </key>
      <key
            commandId="org.elbe.relations.command.go.forward"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_RIGHT">
      </key>
      <key
            commandId="org.eclipse.ui.help.helpContents"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
      <key
            commandId="org.elbe.relations.command.activate.browsers"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+R">
      </key>
      <key
            commandId="org.elbe.relations.command.activate.term"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+T">
      </key>
      <key
            commandId="org.elbe.relations.command.activate.text"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+X">
      </key>
      <key
            commandId="org.elbe.relations.command.activate.person"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+P">
      </key>
      <key
            commandId="org.elbe.relations.command.activate.bookmarks"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+B">
      </key>
      <key
            commandId="org.elbe.relations.command.activate.changes"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+L">
      </key>
      <key
            commandId="org.elbe.relations.command.activate.inspector"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+I">
      </key>
      <key
            commandId="org.elbe.relations.command.open.url"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+U">
      </key>
      <key
            commandId="org.elbe.relations.command.bookmark"
            contextId="org.elbe.relations.context.browser"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+B">
      </key>
      <key
            commandId="org.elbe.relations.command.item.delete"
            contextId="org.elbe.relations.context.browser"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+DEL">
      </key>
      <key
            commandId="org.elbe.relations.command.part.maximize"
            contextId="org.elbe.relations.context.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.elbe.relations.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introOverview.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introFirststeps.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introWhatsNew.xml">
      </configExtension>
   </extension>
</plugin>
