a#relations-noteworthy img { background-image : url(../../icons/relations48.gif); }
a#relations-noteworthy:hover img { background-image : url(../../icons/relations48.gif); }

a#relations-introLink img { background-image : url(../../icons/relations48.gif); }
a#relations-introLink:hover img { background-image : url(../../icons/relations48.gif); }